{% extends 'base.html'%}
<!--this name is to be recognized automatically by Django-->
{% block content %}
<form method="POST">    
    <!--Here as well, action link automatically recognized by Django-->
    {% csrf_token%}
    <!--CSRF stands for Cross-Site Request Forgery-->
    {{ form }}
    <button type="submit" class="btn btn-primary my-5">Submit</button>
</form>
<a href="{% url 'notes.list'%}" class="btn btn-secondary my-5">Cancel</a>
{% if form.errors %}
<div class="alert alert-danger my-5">
    {{form.errors.title.as_text}}
</div>
{% endif %}
{% endblock %}